<title>Loop | Detail</title>
<app-navbar></app-navbar>
<div class="card text-center" *ngIf="movie">
  <div class="card-body">
    <h5 class="card-title">{{movie.Name}}</h5>
    <div class="row">
      <div class="col-6">
        <img class="img-fluid img-thumbnail" [src]="movie.Poster" alt="">
      </div>
      <div class="col-6">
        <br><br>
        <span class="card-text">{{movie.Year}}</span>
        <br><br>
        <p class="card-text">{{movie.Overview}}</p>
        <div class="card-footer text-muted">
        <i class="fas fa-star" id="checked" *ngFor="let star of stars;"></i>
        </div>
        <br>
         <a class="btn classic-btn" href="https://breakingjava.tk/{{movie.Path}}" target="_blank" rel="noopener noreferrer"> <i class="fa fa-play-circle-o" aria-hidden="true" style="color:white"></i>  Play</a>
      </div>
    </div>
   
  </div>
  
</div>
