<div class="card text-center" *ngIf="item">
  <div class="card-header">
    <span>{{item.year}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <div class="row">
      <div class="col-6">
        <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/en/8/8a/Dark_Knight.jpg" alt="">
      </div>
      <div class="col-6">
        <p class="card-text">{{item.overview}}</p>
      </div>
    </div>
    <a href="#" class="btn btn-primary">Ver</a>
  </div>
  <div class="card-footer text-muted">
    <i class="fas fa-star" *ngFor="let star of stars;"></i>
  </div>
</div>
