
<!-- User Profile -->
<div class="vertical-center" >
	<app-navbar></app-navbar>
	<div class="container">
		<!-- Menu -->
		<div class="row">
			<div class="col-md-4">
				<div class="list-group" role="tablist">
					<a class="list-group-item list-group-item-action active" [ngClass]="{'active': windows[0]}" (click)="toggleCard(0)">Your profile</a>
					<a class="list-group-item list-group-item-action" [ngClass]="{'active': windows[1]}" (click)="toggleCard(1)">Edit Profile</a>
					<a class="list-group-item list-group-item-action" [ngClass]="{'active': windows[2]}" (click)="toggleCard(2)">Edit Users</a>
				</div>
			</div>
			<!-- Content -->
			<div class="col-md-8">
				<div class="tab-content" id="nav-tabContent">
					<!-- Profile -->
					<div class="tab-pane fade active show" id="profile" role="tabpanel" *ngIf="windows[0]">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
							    		<h4>Your Profile</h4>
							    		<hr>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<form>
											<div class="form-group row">
												<label class="col-4 col-form-label">Name</label>
												<div class="col-8">
													<label>Daniela Flores</label>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-4 col-form-label">E-mail</label>
												<div class="col-8">
											  		<label>kenzie85@hotmail.com</label>
												</div>
											</div>
											<button type="button" class="btn btn-danger" (click)='selfDestroy()'>Delete account</button>
										</form>
									</div>
								</div>
							</div>
						</div>
		            </div>
		            <!-- Edit Profile -->
		            <div class="tab-pane fade active show" id="edit-profile" role="tabpanel" *ngIf="windows[1]">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
							    	<h4>Edit Your Profile</h4>
							    	<hr>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<form>
											<div class="form-group row">
												<label class="col-4 col-form-label">Name</label>
												<div class="col-8">
													<input id="name" placeholder="Name" class="form-control" required="required" type="text">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-4 col-form-label">Surname</label>
												<div class="col-8">
											  		<input id="surname" placeholder="Surname" class="form-control here" type="text">
												</div>
											</div>
											<div class="form-group row">
												<div class="offset-4 col-8">
													<button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
												</div>
											</div>
										</form>
										<form>
											<div class="form-group row">
												<label for="newpass" class="col-4 col-form-label">New Password</label>
												<div class="col-8">
													<input type="password" id="newpass" placeholder="New Password" class="form-control here" required>
												</div>
											</div>
											<div class="form-group row">
												<div class="offset-4 col-8">
													<button type="submit" class="btn btn-primary">Update My Password</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Edit Users -->
					<div class="tab-pane fade active show" id="edit-users" role="tabpanel" *ngIf="windows[2]">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
							    	<h4>Edit Users</h4>
									</div>
								</div>
								<!-- Table -->
								<div class="table-responsive-xl">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Name</th>
												<th scope="col">E-mail</th>
												<th scope="col">Option</th>
											</tr>
										</thead>
										<tbody>
											<!-- Data 1 -->
											<tr>
												<th scope="row">Daniela Flores</th>
												<td>kenzie85@hotmail.com</td>
												<td><button type="button" class="btn btn-danger" data-toggle="modal" (click)="openModel()">Delete account</button></td>
											</tr>
											<!-- Data 2 -->
											<tr>
												<th scope="row">Daniela Flores</th>
												<td>kenzie85@hotmail.com</td>
												<td><button type="button" class="btn btn-danger" data-toggle="modal" (click)="openModel()">Delete account</button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
