header{
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

input[type=search] {
  background: white url("/assets/img/search-icon.png") no-repeat 10px center;
  border: solid 1px #ccc;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 10em;
  transition: all .5s;
}

#extended-search input[type=search] {
  width: 15px;
  padding-left: 10px;
  cursor: pointer;
}

#extended-search input[type=search]:hover {
  background-color: #ecf0f1;
}

#extended-search input[type=search]:focus {
  width: 230px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
