<div class="center">
	<div class="content">
		<img class="image-responsive" src="assets/img/logo_vec_white.png">
		<h3>Sign In to Loop</h3>
		<hr>
		<form>
			<div class="form-group">
				<label>Email address</label>
				<input type="email" class="form-control" id="input-email" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" id="input-password" placeholder="Password">
				<small id="forgot-pass"><a href="#">Forgot password?</a></small>
			</div>
			<button class="btn-lg sign-in-btn">Sign In</button>
		</form>
	</div>
</div>
<footer>Copyright © 2018, Loop | Movies & TV Shows Streaming. All Rights Reserved</footer>
