<div class="section">
	<div class="main">
		<img class="img-fluid" src="assets/img/logo2.png">
		<h3>Reset Password</h3>
		<hr>
		<form>
			<div class="form-group">
				<label>New Password</label>
				<input type="password" class="form-control" id="new-password" placeholder="Password" minlength="8" maxlength="50">
				<small>8-character minimun; case sensitive</small>
			</div>
			<div class="form-group">
				<label>Reenter Password</label>
				<input type="password" class="form-control" id="copy-password" placeholder="Password" minlength="8" maxlength="50">
			</div>
			<button class="classic-btn">Reset Password</button>
		</form>
	</div>
</div>
<footer> Copyright © 2018, Loop | Movies & TV Shows Streaming. All Rights Reserved. </footer>