<title>Loop | Login</title>
<div class="center">
	<div class="content">
		<img class="img-fluid" src="assets/img/logo1.png">
		<h3>Sign In</h3>
		<hr>
		<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
			<div class="left">
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
					<label for="email">Email address</label>
					<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required  />
					 <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
				</div>
				 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
			      <label for="password">Password</label>
			      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
			      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
			      <small id="forgot-pass"><a routerLink="/pass-forgot" routerLinkActive="active">Forgot password?</a></small>
			    </div>
				<button class="classic-btn" type="submit">Sign In</button>
			</div>
			<div class="middle">
				<p id="hr"><span>OR</span></p>
			</div>
  </form>
		<div class="right">
			<button class="classic-btn" (click)='facebook()'>Log In With Facebook</button>
			<small id="register">Don't have an account? <a routerLink="/signup" routerLinkActive="active"><b>REGISTER HERE</b></a></small>
		</div>
	</div>
</div>
