.card{
	background-color: black;
}
.card >.barra {
  width: 100%;
  background-color: black;
}
.card >.peliculas > .card > .card-header{
	background-color: #333;
	color: white;
	font-weight: bold;
}
.card >.peliculas > .card > .card-body{
	background-color: black;
}
.card > .Series > .card > .card-header{
	background-color: #333;
	color: white;
	font-weight: bold;
}
.card > .Series > .card > .card-body{
	background-color: black;
}




