
<title>Loop | Catalog</title>
<div class="barra">
  <app-navbar></app-navbar>
  <br>
  <br>
  <br>
  <br>
</div>
<div class="peliculas" id="movies">
  <div class="card bg-light mb-3">
    <div class="card-header">Movies</div>
    <div class="card-body">
      <app-catalog [items]="movies"></app-catalog>
    </div>
  </div>
</div>
<div class="Series" id="series">
  <div class="card bg-light mb-3">
    <div class="card-header">Series</div>
    <div class="card-body">
      <app-catalog-series [items]="series"></app-catalog-series>
    </div>
  </div>
</div>