<title>Loop | Forgot Password</title>
<div class="section">
	<div class="main">
		<img class="img-fluid" src="assets/img/logo2.png">
		<h1>Forgot Password?</h1>
		<p>We'll e-mail instructions on how to reset your password.</p>
 		 <form novalidate>
				<div class="form-group">
				<input type="email" class="form-control" name="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email address"required />
				 <div  class="help-block">Email is required</div>
				</div>
				<br>

				<button class="classic-btn" type="submit" (click)="forgotPass()">Reset Password</button>
 		 </form>
	</div>
</div>
