<title>Loop | Forgot Password</title>
<div class="section">
	<div class="main">
		<img class="img-fluid" src="assets/img/logo2.png">
		<h1>Forgot Password?</h1>
		<p>We'll e-mail instructions on how to reset your password.</p>
		<form>
			<div class="form-group">
				<input type="email" class="form-control" id="input-email" placeholder="Enter your e-mail address">
			</div>
			<button class="classic-btn">Submit</button>
		</form>
	</div>
</div>
<footer>Copyright © 2018, Loop | Movies & TV Shows Streaming. All Rights Reserved.</footer>