<div class="section">
	<div class="main">
		<img class="img-fluid" src="assets/img/logo2.png">
		<h1>Sign Up</h1>
		<p>Register now!</p>
		<hr>
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Name:</label>
					<input type="text" class="form-control" id="input-name" placeholder="Enter your name">
				</div>
				<div class="form-group col-md-6">
					<label>Surname:</label>
					<input type="text" class="form-control" id="input-surname" placeholder="Enter your surname">
				</div>
			</div>
			<div class="form-group">
				<label>E-mail:</label>
				<input type="email" class="form-control" id="input-email" placeholder="Enter your e-mail address">
			</div>
			<div class="form-group">
				<label>Password:</label>
				<input type="password" class="form-control" id="input-password" placeholder="Password">
				<small>Forgot password?</small>
			</div>
			<button class="classic-btn">Register</button>
		</form>
	</div>
</div>
<footer>Copyright © 2018, Loop | Movies & TV Shows Streaming. All Rights Reserved.</footer>