
.classic-btn{
    width: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.5s all;
    border: 1px solid white;
    background-color: black;
    padding: 12px 50px;
    cursor: pointer;
    outline: none!important;
}

.classic-btn:hover{
    background-color: white;
    color: black;
}

.classic-btn:active{
    background-color: black;
    color:white;
}
